.perfect-centering {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .form-outline {
    position: relative;
    top: 30px;
  }

  .party-info {
    position: relative;
    top: 30px;
  }
  .info {
    margin-top: 50px;
  }